/* .qna-container {

} */


/*
QUESTION LIST AREA
-----------------------------------------------------------------------------------
*/
.question-list {
  max-height: 500px;
  overflow: auto;
  display: inline-block;
}

.button {
  padding: 0;
  border: none;
  background: none;
}







/*
QUESTION CARD AREA
--------------------------------------------------------------------------------
*/
.question-body {
  font-size: 18px;
}

.helpful-button {
  padding: 0;
  border: none;
  background: none;

}

.add-answer-button {
  padding: 0;
  border: none;
  background: none;
}

.helpful-count {
  float: right;
  padding: 10px;
}

.report-button {
  padding: 0;
  border: none;
  background: none;
}

/*
ANSWER LIST AREA
-----------------------------------------------------------------------
*/


.answer-list {
  max-height: 150px;
  overflow: auto;
}


/*
ANSWER CARD AREA
--------------------------------------------------------------------------
*/
.answerCard {
  font-size: 14px;
  margin-top: 20px;
}


.answer-info {
  display:flex;
  justify-content: space-between;
  float:right;
}

.images {
  justify-content: space-between;
}

.image {
  max-width: 150px;
  max-height:150px;
}
/*
SEARCHBAR AREA
------------------------------------------------------------------------------
*/
.search-bar-input {
  width: 90%;
  height: 20px;
  text-align: center;
  font-size: 25px;
}

/*
MODAL WINDOW
-----------------------------------------------------------------------------------

*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.form {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.exit-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

